/* style.css 文件内容 */
body {
    background-image: url('../images/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }

.box {
     width:400px;
     border-radius: 10px;
     background-color: antiquewhite;
     }